<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if title}}
      <title>{{title}} | Aquapocalypse</title>
  {{else}}
      <title>AquaPocalypse</title>
  {{/if}}
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <a href="/">
        <h1>
          Aquapocalypse 🐟
        </h1>
    </a>
      
    <nav>
      <button class="btn" id="logout">{{> log-in-out }}</button>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer class="text-center my-3">
      <p class="footer-text">
          &copy; 2023 by Aquapocalypse. All Rights Reserved. 
      </p>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
