<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if title}}
      <title>{{title}} | Aquapocalypse</title>
  {{else}}
      <title>Aquapocalypse</title>
  {{/if}}
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <a href="/">
        <img src="/assets/aquapocalypse-logo.png" class="logo" alt="Aquapocalypse logo">
    </a>
      
    <nav>
      {{#if logged_in}} 
        {{#if is_on_high_score_page}} 
          {{!-- no button --}}
        {{else}}     
        <a href="/high-scores">
          <button class="btn">High Scores</button>
        </a>
        {{/if}}
      {{/if}}
      <button class="btn" id="logout">{{> log-in-out }}</button>
    </nav>
  </header>
  <div class="game-flex-container">
    <main>
      {{{ body }}}
    </main>
    <footer class="text-center my-3">
        <p class="footer-text">
            &copy; 2023 by Aquapocalypse. All Rights Reserved. 
        </p>
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
