<h2 class="login-label">Create Account</h2>
<form>
    <label for="email">Email</label>
    <input id="email" name="email" type="text" required autocomplete="email" />
    
    <label for="username">Username</label>
    <input id="username" name="username" type="text" required autocomplete="username" />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required autocomplete="new-password" />

    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" required autocomplete="confirm-password" />

    <button class="btn" type="submit">Submit</button>
</form>
<script src="/js/create-account.js"></script>