    <form>

        <label for="email">Email</label>
        <input name="email" type="email" required />
        
        <label for="username">Username</label>
        <input name="username" type="username" required />

        <label for="password">Password</label>
        <input name="password" type="password" required />

        <button type="submit">Create Account</button>

    </form>