<div class="display-flex justify-center">
  <a href="/game">
    <button class="btn">Start Game</button>
  </a>

  <a href="/high-scores">
    <button class="btn">High Scores</button>
  </a>
</div>
<h2>Lobby</h2>

{{#each users as |user| }}
<div class="row align-center">
  <div class="col-md-2">
    <p class="home-page-text">{{user.name}}</p>
  </div>
  <div class="col-md-4">
    <p class="home-page-text"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
  </div>
</div>
{{/each}}
