/* ---------------- */
/* global selectors */
/* ---------------- */

body {
    background-color: #6D6D64;
}

label, input {
    display: block;
}

h1, h2, h3, h4 {
    color: #d5da80;
}

#game-canvas {
    display: block;
    width: 806px;
    height:506px;
    margin: 0 auto;
    border: 3px solid #000;
}

.logo {
    margin-left: 1rem;
    display: flex;
    width: 40rem;
}

.btn {
    margin: 1rem;
    color: #f0f0ef;
    background-color: ;
}



/* --------- */
/* home page */
/* --------- */

.home-page-text {
    margin-bottom: 0;
    color: #d5da80;
}





/* --------------- */
/* high-score page */
/* --------------- */

.high-score-list {
    display: flex;
}

.rank-column {
    display: flex;
    justify-content: end;
}

.name-column {
    display: flex;
    justify-content: start;
}

.score-column {
    display: flex;
    justify-content: end;
}

.high-score-title-text {
    font-size: 2rem;
}

.high-score-text {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.footer-text {
    color: grey;
    font-size: 1rem;
}