/* ---------------- */
/* global selectors */
/* ---------------- */

header {
    flex: 0 0 auto;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    flex: 0 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #6D6D64;
}

label, input {
    display: block;
}

h1, h2, h3, h4 {
    color: #d5da80;
}

.logo {
    margin-left: 1rem;
    display: flex;
    width: 40rem;
}

.game-flex-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#game-canvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


.btn {
    margin: 1rem;
    text-decoration: none;

}

#logout {
    text-decoration: none;
}


/* --------- */
/* home page */
/* --------- */

.home-page-text {
    margin-bottom: 0;
    color: #d5da80;
}





/* --------------- */
/* high-score page */
/* --------------- */

.high-score-list {
    display: flex;
}

.rank-column {
    display: flex;
    justify-content: end;
}

.name-column {
    display: flex;
    justify-content: start;
}

.score-column {
    display: flex;
    justify-content: end;
}

.high-score-title-text {
    font-size: 2rem;
}

.high-score-text {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.footer-text {
    color: grey;
    font-size: 1rem;
}